.gitignore
src/.env
src/.idea/
src/Ecommerce/__pycache__/
src/Ecommerce/
src/htmlcov
src/media
src/store/migrations
src/auctions/__pycache__/
src/auctions/migrations/
src/db.sqlite3
src/users/__pycache__/
src/users/__init__.py
src/users/migrations/
src/.coverage