{% extends 'base.html' %}
{% load static %}
{% block title %}
    Cart
{% endblock %}
{% block body %}
<div class="col-lg-12">
    <div class="box-element checkout">
        <!--<a class="btn btn-outline-dark" href="#"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</a>-->
        <div class="cart-row">
            <h3 class="item-img">Picture</h3>
            <h3 class="item-name">Name</h3>
            <h3 class="item-price">Price</h3>
            <h3 class="item-quantity">Quantity</h3>
            <h3 class="item-total">Total</h3>
        </div>
        <hr>
        <div class="cart-row">
            <div class="item-img"><img src="https://via.placeholder.com/100x50.png"></div>
            <p class="item-name">Product 1</p>
            <p class="item-price">$20</p>
            <div class="item-quantity">
                <p class="quantity">2</p>
                <div class="quantity">
                    <!--<img class="arrow" src="{% static 'img/arrow-up.png' %}"><img class="arrow" src="{% static 'img/arrow-down.png' %}">-->
                    <a class="arrow" href="#"><i class="fa fa-caret-up"></i></a>
                    <a class="arrow" href="#"><i class="fa fa-caret-down"></i></a>
                </div>
            </div>
            <p class="item-total">$40</p>
        </div>
    </div>

    <div class="box-element checkout">
        <div class="checkout-table">
            <h3 class="items-num">Items Number</h3>
            <h3 class="items-price">Total Price</h3>
        </div>
        <hr>
        <div class="checkout-table">
            <p class="items-num">2</p>
            <p class="items-price">$40</p>
        </div>
        <div class="m-2">
            <a class="btn btn-outline btn-block checkout-btn" href="{% url 'store:checkout' %}">Checkout</a>
            <a class="btn btn-outline btn-block cont-shop-btn" href="{% url 'store:store' %}"> Continue Shopping</a>
        </div>
    </div>
</div>

{% endblock %}