{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block title %}
    Login
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p class="text-center">You already logged in! Log out to see this page.</p>
{% else %}

{% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h4 class="border-bottom mb-4 text-center">Login</h4>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-outline-info w-100 btn-lg">Login</button>
    {% endbuttons %}
</form>
<p class="text-center"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
<div class="border-top pt-3 text-center">
    <small class="text-muted">
        Need An Account? <br> <a class="ml-2" href="{% url 'users:register' %}">Sign Up Now</a>
    </small>
</div>
{% endif %}
{% endblock %}